@model CCMS.Models.HeadCategory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HeadCategory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadCategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadCategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadCategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadCategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadCategoryDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadCategoryDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHeadCategoryActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHeadCategoryActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
