@model CCMS.Models.AccountingHead

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AccountingHead</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountingHeadId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountingHeadId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountingHeadName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountingHeadName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHeadActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHeadActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
