@model IEnumerable<CCMS.Models.AccountingHead>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountingHeadId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountingHeadName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeadType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeadCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeadDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHeadActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountingHeadId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountingHeadName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeadType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeadCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeadDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHeadActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
