@model CCMS.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountingHeadId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountingHeadId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomeFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomeFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseFor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpenseFor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
