@model CCMS.Models.StudentSection

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudentSection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectionShift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectionShift)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectionStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectionStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
